<% content_for :title, "Heatmap" %>

<figure class="activity-heatmap"
    data-controller="heatmap"
    data-heatmap-target="map"
    data-heatmap-years-value="<%= @years.to_json %>"
    <% if @bounds %>
    data-heatmap-bounds-value="<%= @bounds.to_json %>"
    <% end %>>
  <div class="heatmap-filter" data-heatmap-target="filterBar"></div>
</figure>
