<% content_for :title, "Upload" %>

<div class="upload-page" data-controller="bulk-upload">
    <div class="drop-zone"
         data-bulk-upload-target="dropZone"
         data-action="dragover->bulk-upload#dragover dragleave->bulk-upload#dragleave drop->bulk-upload#drop">
        <p class="drop-zone-label">Drop GPX or FIT files here</p>
        <p class="drop-zone-or">or</p>
        <label class="drop-zone-browse">
            Browse files
            <input type="file" multiple accept=".gpx,.fit"
                   data-bulk-upload-target="input"
                   data-action="change->bulk-upload#upload">
        </label>
    </div>

    <ul class="upload-list" data-bulk-upload-target="list"></ul>
</div>
